body {
    background: linear-gradient(45deg, red, yellow, green, blue, purple);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

